*{
    padding: 0;
    margin: 0;
}

/* config */

.dflex{
    display: flex;
}

.justify_between{
    justify-content: space-between;
}

.justify_start{
    justify-content: flex-start;
}

.acenter{
    align-items: center;
}

.mauto{
    margin: auto;
}

.alend{
    align-items: end;
}

.fcolumn{
    flex-direction: column;
}

.justify_center{
    justify-content: center;
}

.text_center{
    text-align: center;
}

.justify_right{

}
/* styles */

header{
    background: #181818;
    border-radius: 0;
    padding: 24px 0;
}

ul{
    list-style: none;
}

.container{
    max-width: 1200px;
}

header .container{
    padding: 0 20px 0 32px;
    align-items: center;
}

header nav ul{
    display: flex;
    align-items: center;
}

header nav li{
    margin-left: 32px;
}
header nav li:first-of-type{
    margin-right: 24px;
}

header nav li a{
    font: 15px/20px 'Poppins', sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #FFFFFF;
    text-decoration: none;
}
header nav li:first-of-type a{
    font-size: 13px;
}
header nav li:last-of-type a{
    background: white;
    border-radius: 14px;
    padding: 11px 20px;
    color: black;
}

.main_banner{
    background-image: url("../images/IMAGE.jpg");
    background-size: cover;
    height: calc(100vh - 83px);
    position: relative;
}

.bottom_icon{
    position: absolute;
    right: 40px;
    bottom: 41px;
    display: flex;
    align-items: center;
}

.bottom_icon li{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    color: #FFFFFF;
    margin-left: 16px;
}

.bottom_icon li:before{
    content: "";
    display: inline-block;
    background-image: url(../images/image1.svg);
    width: 16px;
    height: 16px;
    margin-right: 6px;
    position: relative;
    top: 5px;
}

.bottom_icon li:nth-child(2):before{
    background-image: url(../images/image3.svg);
}

.bottom_icon li:nth-child(3):before{
    width: 32px;
    background-image: url(../images/image2.svg);
}

.bottom_icon li:nth-child(4):before{
    width: 10px;
    height: 16px;
    background-image: url(../images/image4.svg);
}

.main_blok{
    align-self: flex-end;
    margin-bottom: 70px;
}

.firstblok{
    max-width: 580px;
}

.main_haedin{
    font:14px/20px 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #C0C0C0;
}

.main_title{
    font:54px/59px 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    color: #FFFFFF;
    margin-bottom: 18px;
}

.main_text{
    font:14px/20px 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    color: #C0C0C0;
}

.first_list{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    color: #FFFFFF;
    margin-top: 11px;
    margin-bottom: 40px;
}

.first_list_images{
    margin-right: 6px;
}

.pl16{
    padding-left: 16px;
}

.info_blok{
    background: #000;
}

.content{
    padding: 106px;
    max-width: 1168px;
}

.image_container{
    padding-top: 42px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}

.What_container{
    position: relative;
}

.top{
    margin-bottom: 16px;
    display: block;
}

.desc{
    position: absolute;
    bottom: 40px;
    left: 30px;
    z-index: 1;
    max-width: 516px;

}

/* 3 - Japan; 5 - Costa Rica; 7 - Nepal; */

.Japan{
    background-image: url("../images/Japan.jpg");
    min-height: 600px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: relative;
    background-size: 100% 100%;
}
.Blok_Japan{
    max-width: 298px;
    margin-right: 62px;
}

.Costa_Rica{
    background-image: url("../images/Costa_Rica.jpg");
    min-height: 600px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: relative;
    background-size: 100% 100%;
}
.Blok_Costa_Rica{
    max-width: 273px;
    margin-right: 87px;
}

.Nepal{
    background-image: url("../images/Nepal.jpg");
    min-height: 600px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: relative;
    background-size: 100% 100%;
}
.Blok_Nepal{
    max-width: 254px;
    margin-right: 106px;
}

.title357{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 15px;
}

.text357{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #C0C0C0;
    margin-bottom: 30px;
}
/* Sweden */

.Sweden_haedin{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #C0C0C0;
    margin-bottom: 6px;
}

.Sweden_title{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 32px;
    color: #FFFFFF;
    margin-bottom: 14px;
}

.Sweden_text{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
    margin-bottom: 29px;
    max-width: 514px;
}

.Sweden{
    position: relative;
    min-height: 540px;
    background: #000;
}

.Sweden .container{
    max-width: 1240px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: auto;
    min-height: 540px;
}

.Sweden .Sweden_right_img{
    width: 50%;
    position: absolute;
    height: 100%;
    background-image: url("../images/Sweden.jpg");
    background-size: cover;
    right: 0;
    top: 0;
}

/* clients section */

.clients{
    background: #000000;
    padding: 120px 136px 100px 136px;
}

.text_content{
    margin-bottom: 80px;
}

.clients_images{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Help section */

.helpblok{
    background: #000000;
    padding: 111px;
}

.caption{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 42px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 15px;
}

.caption_subtitle{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    color: #C0C0C0;
    margin-bottom: 22px;
}

.link{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.4px;
    color: #000000;
    background: #FFFFFF;
    border-radius: 14px;
    padding: 11px 10px 11px 4px;
    text-decoration: none;
}

.link::before{
    content: '';
    background: black;
    padding: 5px 16px;
    margin-right: 6px;
    border-radius: 15px;
}

/* Footer */

footer{
    background: #000;
    padding: 100px 0;
    color: #FFFFFF;
}

footer .container{
    max-width: 1168px;
    border-bottom: solid 2px #FFFFFF;
    padding-bottom: 26px;
    margin-bottom: 36px;
}

footer .container:nth-child(2){
    padding-bottom: 36px;
}

footer .container:last-of-type{
    border: none;
    margin-top: 56px;
}

footer p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    /* identical to box height, or 154% */


    color: #C0C0C0;

}

.footer_list{
    align-items: flex-start;
}
footer .footer_list ul:first-of-type{
    margin-right: 55px;
}
footer .footer_list ul:last-of-type{
    margin-right: 100px;
}
footer .footer_list li:first-of-type{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    /* identical to box height, or 143% */

    letter-spacing: 2px;
    text-transform: uppercase;

    color: #C0C0C0;
}
footer .footer_list li a{
    text-decoration: none;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    /* identical to box height, or 154% */


    color: #FFFFFF;
}

footer h4{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFFFFF;
}

footer form{
    background-color: white;
    border: 1px solid #E5E7EB;
    border-radius: 12px;
    max-width: 458px;
    width: 100%;
    height: 52px;
    padding: 11px 6px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

footer form .form_control{
    background-color: transparent;
    border: none;
    height: 30px;
    width: 80%;
    display: inline-block;
}

footer form button{
    background-color: #000000;
    border-radius: 11px;
    height: 30px;
    border: none;
    width: 63px;
    cursor: pointer;
}

.ico{
    padding-left: 20px;
}

.ico:first-of-type{
    padding-left: 0;
}